<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/context"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="

       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:component-scan base-package="org.ivanov" />
    <mvc:annotation-config/>
    <!--<import resource="classpath:Security.xml" />-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="dataSource"
          p:username="jjxheqoyalifio"
          p:password="211b2acec9970482b6804fa987f240d1bc07d1583a763b9841c8838a061ee5f4"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:postgresql://ec2-54-75-230-41.eu-west-1.compute.amazonaws.com:5432/dedhiba4ej2uif?sslmode=require" />
    </bean>
    <!--<bean id="dataSource"-->
          <!--p:username="root"-->
          <!--p:password=""-->
          <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="url" value="jdbc:mysql://localhost:3306/autopark?characterEncoding=UTF-8&amp;useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC" />-->
    <!--</bean>-->

    <bean id="jpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
          p:generateDdl="true"
          p:showSql="true" />


    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          p:dataSource-ref="dataSource"
          p:packagesToScan="org.ivanov"
          p:jpaVendorAdapter-ref="jpaVendorAdapter" />

    <bean id="txManager"
          class="org.springframework.orm.jpa.JpaTransactionManager"
          p:entityManagerFactory-ref="entityManagerFactory" />

    <tx:annotation-driven transaction-manager="txManager" />

    <jpa:repositories base-package="org.ivanov.Domain.repositories"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="txManager" />



</beans>